<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Automation Web App</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div>
            <label for="excelFile">Upload Excel File:</label>
            <input type="file" id="excelFile" name="excelFile">
            <button id="submit_button">Upload</button>
        </div>
    </form>



</body>
</html>