<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Automation Web App</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>

    <div class="menu_container">
        <form class="box" action="/compose_email" method="post">
            <button type="submit">Compose Email</button>
        </form>

        <form class="box" action="/history" method="get">
            <button type="submit">History</button>
        </form>

        <form class="box" action="/Statistic" method="post">
            <button type="submit">Statistics</button>
        </form>
    </div>

</body>
</html>
