<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/login.css">

</head>

<body>
  <div class="box">
		<h2>Register</h2>
		<form action="/register" method="post">
			<div class="inputBox">
				<input type="text" name="registerEmail" required="">
				<label for="">Username</label>
			</div>
			<div class="inputBox">
				<input type="password" name="registerPassword" required="">
				<label for="">Password</label>
			</div>
			<input type="submit" name="" value="Submit">
		</form>
	</div>

    <!-- <main class="form-signin w-100 m-auto">
        <form action="/register" method="post">
          <h1 class="h3 mb-3 fw-normal">Register</h1>
      
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" fdprocessedid="aus8dr" name="loginEmail">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" fdprocessedid="kp6v3o" name="loginPassword">
            <label for="floatingPassword">Password</label>
          </div>
      
          <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Remember me
            </label>
          </div> -->
          <!-- <button class="btn btn-primary w-100 py-2" type="submit" fdprocessedid="czkgvx">Create Account</button>
        </form>

        <form action="/auth/google">
          <button class="btn w-100 py-2" type="submit">Sign-up with Google</button>
        </form>
      </main> --> 

</body>
</html>