<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload/Update Customer Data</title>
</head>
<body>
    <%- include("partials/header.ejs") %>

    <form action="/upload_contact" method="post" enctype="multipart/form-data">
        <div>
            <label for="excelFile">Upload Customer Contacts:</label>
            <input type="file" id="excelFile" name="excelFile">
        </div>

        <button type="submit" name="update">Update</button>
    </form>
</body>
</html>