.container {
    max-width: 1000px; /* Adjust the max-width as needed */
    margin: 50px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.flex-container {
    display: flex;
}

.customer-list {
    flex: 1; /* Take up remaining space */
    max-height: 300px; /* Set maximum height */
    overflow-y: auto; /* Enable vertical scrollbar if needed */
    margin-right: 20px; /* Add space between the two sections */
}

.text-box {
    flex: 4; /* Take up more space */
    height: 450px; /* Set the height of the text box */
}


